.navbar {
  width: 100vw;
  max-width: 100vw;
  height: 50px;
  padding: 8px 12px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
