.slider_container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #6b7502;
  outline: none;
  opacity: 0.4;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 0.6;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #00000099;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #00000099;
  cursor: pointer;
}

.slider_label {
  margin: 0;
  margin-bottom: 4px;
}

.slider_light::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ffffff99;
  cursor: pointer;
}

.slider_light::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ffffff99;
  cursor: pointer;
}
