.App {
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #11170d;
  overflow-x: hidden;
}

.settings {
  width: 500px;
}

.settings_item {
  margin: 24px 0px;
}

.button {
  margin-right: 12px;
  padding: 8px 12px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #6b7502;
  border: 1px solid #6b7502;
  font-weight: bold;
}

.no_margin {
  margin: 0;
}

.button_large {
  width: 150px;
}

.button_outline {
  background-color: transparent;
  color: #6b7502;
}

.navbar_link {
  text-decoration: none;
  color: inherit;
  margin-right: 12px;
}

.settings_button {
  width: 100px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings_icon {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_icon_block {
  height: 3px;
  width: 3px;
  background-color: #000000cc;
  margin: 2px;
}

.settings_icon_block_light {
  background-color: #ffffffcc;
}

@media (min-width: 768px) {
  .settings_button {
    width: 50px;
  }
}
